.section-about {
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.section-about .about-content {
    width: 50%;
    margin: 20px;
}

.section-about .about-content h2 {
    font-size: 3.2rem;
    color: var(--text-color);
    padding-right: 30px;
}

.section-about .about-content p {
    max-width: 600px;
    text-align: justify;
    font-size: 1.2rem;
    color: var(--color-secondary);
    font-weight: 300;
}

.section-about .about-content .btn-letsGo {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    transition: 0.5s ease;
}

.section-about .about-content .btn-letsgo:hover {
    background-color: var(--bg-hover);
    color: var(--color-secondary);
    border: none;
}