.contact {
    width: 100%;
    min-height: 70vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
     height: 100%;
     width: 40%;
     transition: all 0.5s;
}

.contact img:hover {
    transform: translateX(-10px);
}

.contact .forms {
    width: 50%;
    margin: 30px;
}

.contact .forms h2 {
    color: var(--text-color);
    text-transform: uppercase;
    text-align: center;
}

.contact .forms .contact-input {
    margin: 10px 0;
}

.contact .forms .contact-input p {
    color: var(--text-color);
   
}

.contact .forms .contact-input input,
.contact .forms .contact-input textarea {
    width: 100%;
    min-height: 25px;
    padding: 10px;
    background-color: var(--bg-hover);
    color: var(--text-color);
    border: none;
    outline: none;
}

.contact .forms .contact-input textarea {
    height: 80px;
}

.contact .forms button {
    display: inline-block;
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    outline: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
}

.contact .forms button[type="submit"]:hover {
    background-color: var(--bg-hover);
    color: var(--color-secondary);
    border: none;
}

 span.error {
    display: flex;  
    padding: 0;
    background-color: var(--bg-hover);
    color: var(--color-secondary);
}

 span.error.active {
    border: 1px solid var(--color-secondary);
    padding: 5px;
    color: var(--color-secondary);
    
}
