@media(max-width: 769px) {
    .header {
        padding: 15px 40px;
    }

    .header .menu {
        display: none;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        position: fixed;
        top: 0;
        left: -370px;
        right: 0;
        bottom: 0;
        background-color: var(--bg-secondary);
        transition: 0.5s;
        z-index: 1000;

    }

    .header .menu.active {
        display: flex;
       
    }

    .header .menu li {
        margin: 20px 0;
    }

    .header .menu li a {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    .menuResponsive {
        width: 30px;
        height: 30px;
        background: url(../../imagens/menu-hamb.png);
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 1001;
        position: relative;
    }

    .menuResponsive.active {
        background: url(../../imagens/menu-fechar.png);
        background-position: center;
        background-size: 18px;
        background-repeat: no-repeat;
    }

    .main-home .section-poster .img-person {
        position: absolute;
        margin-left: 150px;
    }

    .main-home .poster-content {
        width: 100%;
        height: 100%;
        background-color: rgba(141, 132, 132, 0.267);
        padding: 30px;
        z-index: 1;
        border-radius: 10px;
    }

    .main-home .section-poster h1 {
        font-size: 2rem;
        margin: 10px 0 0 2px;
    }

    .main-home .section-poster p {
        font-size: 0.8rem;
        margin: 1px 0 8px;
    }

    .main-home .poster-content .btn-join {
        font-size: 0.8rem;
        margin: 1px 0 8px;
    }

    .section-about {
        flex-direction: column;
    }

    .section-about .about-content {
        width: 100%;
    }

    .img-videogame {
        width: 70%;
    }

    .contact {
        flex-direction: column;
    }
    .contact img {
        height: 100%;
        width: 70%;
    }

    .contact .forms {
        width: 100%;
        margin: 30px;
        padding: 10px;
    }   
   
    .contact .forms button {
        width: 100px;
        font-size: 0.9rem;
    }

    .footer {
        width: 100vw;
    }
    
    .footer-info  {
       flex-direction: column;
       margin-left: 50px;
    }

    .footer-info .logo {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .footer-info p {
        font-size: 0.8rem;
        margin-right: 220px;
    }

    .footer-info ul {
        margin: -10px 0 0 100px;
    }

    .footer-info ul li {
        margin: 5px 0 0 0;
    }
}


@media(max-width: 480px) {
    .header{
        width: 10vw;
        margin-left: -20px;
    }

    .header .menu{
        left: -250px;
    }

    .header .menu li a {
        font-size: 1.6rem;
        margin: 0 0 0 55px;
    }

    .main-home .poster-content {
       margin-left: -90px;
       height: 30%; 
       width: 75vw;  
    }

    .main-home .section-poster .img-person {
        margin-left: 20px;
        height: 55%;
    }

    .main-home .section-poster h1 {
        font-size: 1.2rem;
        margin-top: 20px;
        line-height: 30px;
    }

    .main-home .section-poster p {
        font-size: 0.9rem;
    }

    .main-home .poster-content .btn-join {
        font-size: 0.9rem;
        padding: 6px 10px;
    }

    .section-about .about-content h2 {
        font-size: 2rem;
        margin: 50px 0 0 25px;
        width: 60vw; 
    }

    .section-about .about-content p {
        font-size: 1.2rem;
        text-align: justify;
        margin: 20px 0 0 -55px;
        width: 70vw;
    }

    .section-about .about-content .btn-letsGo {
        width: 20vw;
        font-size: 1rem;
        margin: 10px 0 0 -55px;
    }

    .img-videogame {
       display: none;

    }

    .section-games .games-content {
        width: 80vw;
        margin-left: -35px;
    }

    .contact img {
        height: 100%;
        width: 75vw;
        margin: 0 0 20px -10px;
    }

    .contact .forms {
        width: 80vw;
        margin: 0 0 0 -30px;
        padding: 10px;
    }   
   
    .contact .forms button {
        width: 85px;
        font-size: 0.9rem;
    }

    footer {
        width: 95vw;
    }

    .footer-info .logo {
        font-size: 1.8rem;
        margin-left: 40px;
    }
    
    .footer-info p {
        font-size: 0.9rem;
        margin: 2px 100px 0 0;
        width: 80vw;
    }

    .footer-info ul {
        margin: -2px 0 0 60px;
    }
}


@media(max-width: 1279px) {
    .header  {
        padding: 15px;
        width: 100vw;
    }

    .header .logo {
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .header .menu {
        margin-top: -300px;
    }

    .header .menu li {
        margin: 40px 0 0 20px;
    }

    .header .menu li a {
        font-size: 1.5rem;
    }

    .main-home .poster-content {
        height: 35vh;
        width: 65vw;
        
    }

    .main-home .poster-content h1 {
        font-size: 1.2rem;
        width: 60vw;
        margin: 2px 0 0 5px;
    }

    .main-home .poster-content p {
        font-size: 0.9rem;
        margin: 10px 0 0 2px;
        width: 55vw;
    }

    .main-home .poster-content .btn-join {
        font-size: 0.9rem;
        width: 25vw;
        padding: 5px;
        margin: 15px 0 0 5px;
        text-align: center;
    }

    .main-home .section-poster .img-person {
        width: 60vw;
        height: 50vh;
        margin-left: 12%;
    }

    .section-about {
        display: flex;
        flex-direction: column;

    }

    .section-about .about-content {
        width: 100vw;
    }

    .section-about .about-content h2 {
        font-size: 1.5rem;
        margin-left: 70px;
    }

    .section-about .about-content p {
        font-size: 1rem;
        width: 60vw;
        margin: 15px 0 0 50px;
        
    }

    .section-about .about-content .btn-letsGo {
        font-size: 1rem;
        width: 25vw;
        padding: 12px;
        margin: 20px 0 0 50px;
    }

    .img-videogame {
       display: none;  
      
    }
    
    .section-games h2 {
        font-size: 1.5rem;
        width: 60vw;
        margin-left: -20px;
    }

    .section-games .games-content {
        width: 100vw;
       
    }

    .section-games .games-content .cardGames {
        width: 220px;
       
    }
        
    .contact {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .contact img {
        height: 40vh;
       margin-right: 15%;
    }

    .contact .forms {
        width: 90vw;
        margin-right: 2%;
       
    }

    .contact .forms h2 {
        font-size: 1.5rem;
        margin-right: 10%;
    }

    .contact .forms .contact-input p {
        font-size: 1rem;
    }
       
    .footer-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-info .logo {
        font-size: 1.5rem;
        margin-right: 50px;
    }

    .footer-info ul {
        margin-right: 20%;
    }

    .footer-info p {
        margin-left: 150px;
        font-size: 0.7rem;
    }
}